@{
    ViewData["Title"] = "Arbetsprov";
}
@model IEnumerable<Arbetsprov.Models.SearchResult>

<h2>Pushar ner alla divs en liten bit så att allt syns på min dator</h2>
<h2>@ViewData["Message"]</h2>
<div class="search-page">
    <form class="search-form form-inline">
        <div class="form-group">
            <label for="query">Search query</label>
            <input class="form-control" id="query" name="query" type="search" placeholder="Skriv din sökfråga här..." />
        </div>
        <button class="btn btn-primary" type="submit">Sök</button>
    </form>

    <!-- Using the Model directly to show information. (When returning View(searchResultList) in Index.cshtml -->
    @if (Model != null)
    {
        <div class="search-result">
            <h2>Search result(s)</h2>
            <ol id="result-list" class="result-list list-unstyled">
                @foreach (var item in Model)
                {
                    <li class="result-item">
                        <h3 class="title">
                            @if (item.HasIBM == true)
                            {
                                <a href=@Html.DisplayFor(modelItem => item.Source)>@Html.DisplayFor(modelItem => item.Title)</a>
                            }
                            else
                            {
                                <a>@Html.DisplayFor(modelItem => item.Title)</a>
                            }
                        </h3>
                        <span class="author">Author: @Html.DisplayFor(modelItem => item.Author)</span>
                    </li>
                }
            </ol>
        </div>
    }
    
</div>
